* {
  box-sizing: border-box;
}

.dashboard-container {
  margin: auto;
  transform: translateY(-250px);
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 40px;
  top: 50%;
  left: 50%;
  background: #191919;
  text-align: center;
  border-radius: 0px;
  transition: 0.25s;
  margin-top: 7%;
}

h1 {
    float: left;
    color: white;
}
