* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #b92b27, #1565c0)
}

.box {
  margin: auto;
  width: 30%;
  padding: 40px;
  top: 50%;
  left: 50%;
  background: #191919;
  text-align: center;
  border-radius: 15px;
  transition: 0.25s;
  margin-top: 10%;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: auto;
    text-align: left;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.header{
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  color: #fff;
}

label {
  transform: translateX(-105px);
}

span {
  color: #fff;
  font-size: 12px
}

.sidebar {
  width: 10%;
  height: 100%;
}
